.list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    column-gap: 26px;
    font-size: 20px;
}

.item {
    font-weight: 500;
    &:hover {
        text-decoration: underline;
    }
}