@use "@colors" as colors;
@use "@fonts" as fonts;


.title{
    margin-top: 140px;
}

.description {
    margin-top: 20px;
    max-width: 802px;
    text-align: center;
  }

.title_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}