.wrapper__banner{
    display: flex;
    flex-flow: row-reverse;
     margin-top: 40px;
     min-height: 700px;
     max-height: 1200px;
}

 .title {
   margin-top: 20px;
   display: flex;
   align-self: center;
   z-index: 1;
 }
 
 .wrapper{ 
    display: flex;
    flex-direction: column;
  }

  .images {
  width: 100%;
  height: 100%;
  flex: 1;
}

.mainBannerImage {
  width: clamp(700px, 65vw, 950px);
  aspect-ratio: 16 / 10;
  transform: translateX(80px);
  z-index: 100;

}

.backgroundBannerImage{
  width: 100%;
  inset: 0;
  aspect-ratio: 16 / 9;
  object-fit: fill;
}
