@use "@colors" as colors;

.search_form{
    min-width: 400px;
    min-height: 400px;
    background-color: colors.$background;
    border-radius: 10px;
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 30px;
}

.submit_button{
    font-weight: 600;
}