@use "@colors" as colors;
@use "@fonts" as fonts;
@use "@mixins/typography" as typography;

.image {
     border-radius: 10px; 
     width: 100%;
     height: 100%;
     object-fit: cover;
}
.image__wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 380px;
&::before {
    z-index: 1;
    content: "''";
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Чтобы градиент не мешал кликам по изображению */
    border-radius: 10px;
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.5) 100%);
  }
}

.country{
    @include typography.title;
    font-size: 40px;
    color: colors.$background;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    text-align: center;
}




