@use "@colors" as colors;
@use "@fonts" as fonts;


.wrapper{
    position: relative;
    width: 100%;
    height: 686px;
    overflow: hidden;
    margin-top: 140px;
}

.button{
    background-color: Transparent;
   
}

.button_wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.image{
    width: 100%;
    filter: brightness(50%);
    object-fit: cover;
}

.content{
position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: colors.$background; 
  text-align: center;
  padding: 20px;
}
