@use "@colors" as colors;
@use "@fonts" as fonts;


.description{
    margin-top: 40px;
    max-width: 1002px;
    font-weight: bold;
}

.title {
    font-weight: 500;
  }

.title_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}