@use "@colors" as colors;

.calendar_wrapper{
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: flex-end;
}

.custom_date_input {
  width: 320px;
  height: 48px;
  background-color: colors.$background;;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0 12px;
  font-size: 16px;
  color: colors.$text-secondary;
  &::placeholder {
    color: colors.$search-form;
  }
   &:focus {
    border-color: #8dcfb7;
    outline: none;
  }
  &:hover {
    border-color: #8dcfb7; 
  }
}
.image{
position: absolute;
margin-right: 20px;
}

