.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}

.container__children, .container__adult {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.button_wrapper{
    display: flex;
     align-items: center;
    justify-content: flex-end; 
}