@use "@colors" as colors;
@use "@breakpoints" as breakpoints;


.title{
    font-family: var(--font-pt);
    font-size: 34px;
    @include breakpoints.laptop{
      font-size: 34px;
    }
    @include breakpoints.tablet{
      font-size: 30px;
    }
    @include breakpoints.mobile{
      font-size:20px;
    }
}

.title_secondary{
    font-family: var(--font-pt);
    font-size: 30px;
    @include breakpoints.laptop{
      font-size: 30px;
    }
    @include breakpoints.tablet{
      font-size: 28px;
    }
    @include breakpoints.mobile{
      font-size:18px;
    }
}

.title_tours{
    font-family: var(--font-pt);
    font-size: 42px;
    @include breakpoints.laptop{
      font-size: 40px;
    }
    @include breakpoints.tablet{
      font-size: 34px;
    }
    @include breakpoints.mobile{
      font-size:30px;
    }
}

.filters_title{
    font-family: var(--font-pt);
    font-size: 28px;
    @include breakpoints.laptop{
      font-size: 28px;
    }
    @include breakpoints.tablet{
      font-size: 26px;
    }
    @include breakpoints.mobile{
      font-size: 20px;
    }
}

.overtitle{
    font-weight: 700;
    font-size: 22px;
    @include breakpoints.laptop{
      font-size: 22px;
    }
    @include breakpoints.tablet{
        font-size: 18px;
      }
      @include breakpoints.mobile{
        font-size: 15px;
      }
}

.description{
    font-size: 18px;
    @include breakpoints.laptop{
      font-size:18px;
    }
    @include breakpoints.tablet{
        font-size: 17px;
      }
      @include breakpoints.mobile{
        font-size:10px;
      }
}
.description_tours{
    font-size: 32px;
    @include breakpoints.laptop{
      font-size: 26px;
    }
    @include breakpoints.tablet{
        font-size: 20px;
      }
      @include breakpoints.mobile{
        font-size: 16px;
      }
}

.header{
  font-size: 18px;
  @include breakpoints.laptop{
    font-size:18px;
  }
  @include breakpoints.tablet{
      font-size: 17px;
    }
    @include breakpoints.mobile{
      font-size:10px;
    }
}

.footer{
  font-size: 18px;
  @include breakpoints.laptop{
    font-size:17px;
  }
  @include breakpoints.tablet{
      font-size: 16px;
    }
    @include breakpoints.mobile{
      font-size:10px;
    }
}

.card_text{
  
  font-size: 16px;
  @include breakpoints.laptop{
    font-size: 14px;
  }
  @include breakpoints.tablet{
      font-size: 13px;
    }
    @include breakpoints.mobile{
      font-size:10px;
    }
}
.card_title{
    font-family: var(--font-pt);
    font-size: 24px;
    @include breakpoints.laptop{
      font-size: 20px;
    }
    @include breakpoints.tablet{
      font-size: 18px;
    }
    @include breakpoints.mobile{
      font-size: 16px;
    }
}

.card_title_secondary{
    font-family: var(--font-pt);
    font-size: 22px;
     font-weight: 600;
    @include breakpoints.laptop{
      font-size: 18px;
    }
    @include breakpoints.tablet{
      font-size: 16px;
    }
    @include breakpoints.mobile{
      font-size: 14px;
    }
}

.primary{
  color: colors.$primary;
}

.secondary{
  color: colors.$secondary;
}

.text-primary{
  color: colors.$text-primary;
}

.text-secondary{
  color: colors.$text-secondary;
}
.background{
  color: colors.$background;
}
.search_form{
  color: colors.$search-form;
}
.stars{
  color: colors.$stars;
}