@use "@colors" as colors;
@use "@breakpoints" as breakpoints;


.title{
    font-family: var(--font-pt);
    font-size: 34px;
    @include breakpoints.laptop{
      font-size: 34px;
    }
    @include breakpoints.tablet{
      font-size: 30px;
    }
    @include breakpoints.mobile{
      font-size:20px;
    }
}

.overtitle{
    font-weight: 700;
    font-size: 22px;
    @include breakpoints.laptop{
      font-size: 22px;
    }
    @include breakpoints.tablet{
        font-size: 18px;
      }
      @include breakpoints.mobile{
        font-size: 15px;
      }
}

.description{
    font-size: 18px;
    @include breakpoints.laptop{
      font-size:18px;
    }
    @include breakpoints.tablet{
        font-size: 17px;
      }
      @include breakpoints.mobile{
        font-size:10px;
      }
}

.header{
  font-size: 18px;
  @include breakpoints.laptop{
    font-size:18px;
  }
  @include breakpoints.tablet{
      font-size: 17px;
    }
    @include breakpoints.mobile{
      font-size:10px;
    }
}

.footer{
  font-size: 18px;
  @include breakpoints.laptop{
    font-size:17px;
  }
  @include breakpoints.tablet{
      font-size: 16px;
    }
    @include breakpoints.mobile{
      font-size:10px;
    }
}

.cardText{
  
  font-size: 16px;
  @include breakpoints.laptop{
    font-size: 14px;
  }
  @include breakpoints.tablet{
      font-size: 13px;
    }
    @include breakpoints.mobile{
      font-size:10px;
    }
}
.cardTitle{
    font-family: var(--font-pt);
    font-size: 24px;
    @include breakpoints.laptop{
      font-size: 20px;
    }
    @include breakpoints.tablet{
      font-size: 18px;
    }
    @include breakpoints.mobile{
      font-size: 16px;
    }
}

.primary{
  color: colors.$primary;
}

.secondary{
  color: colors.$secondary;
}

.text-primary{
  color: colors.$text-primary;
}

.text-secondary{
  color: colors.$text-secondary;
}
.background{
  color: colors.$background;
}