@use "@colors" as colors;
@use "@mixins/common" as common;

.header {
    border-bottom: 1px solid colors.$border;
    border-radius: 0px 0px 10px 10px;
    min-height: 80px;
    position: fixed;
    min-width: 100vw;
    background-color: colors.$background;
    z-index: 100;
}

.container {
    @include common.container;
    min-height: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}