@use "@colors" as colors;
@use "@fonts" as fonts;


.wrapper{
    position: relative;
    width: 100%;
    height: 686px;
    overflow: hidden;
}

.image{
   z-index: 1;
   object-fit: fill;
   width: 100%;
   filter: brightness(50%);
}

.content{
 position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100%;
   width: 100%;
  display: flex;
  justify-content: center;
  padding: 64px;
  flex-direction: row;
  column-gap: 200px;
}
