@use "@colors" as colors;
@use "@fonts" as fonts;

.button{
    &__active{
       background-color: colors.$primary;
        color: colors.$background; 
    }
} 

.button_wrapper{
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  column-gap: 40px;
  justify-content: center;
  align-items: center;
  }

.tabs_wrapper{
  margin-top: 40px;
  align-items: center;
  }
