@use "@colors" as colors;
@use "@fonts" as fonts;
@use "@mixins/typography" as typography;


.button{
    background-color: colors.$background;
   
    border-radius: 10px;
    border-color: colors.$background;
    width: 180px;
    height: 48px;
    font-family:manrope;
    font-weight: 600;
    filter: drop-shadow(1px 1px 1px);
    &__active{
       background-color: colors.$primary;
        
    }
} 


.button_wrapper{
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  column-gap: 40px;
  justify-content: center;
  align-items: center;
  }

.tabs_wrapper{
  margin-top: 40px;
  align-items: center;
  }
