@use "@colors" as colors;
@use "@fonts" as fonts;


.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 88px;
}

.phone {
    font-size: 20px;
    font-weight: 500;
    &:hover {
        text-decoration: underline;
    }
}

.application_button{
display: inline-block;
background-color: colors.$primary;
font-style: colors.$background; 
border-radius: 10px;
width: 180px;
height: 48px;
font-family:manrope;
font-weight: 600;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 
            0 1px 3px rgba(0, 0, 0, 0.08);
border-color: colors.$background;
}