@use "@colors" as colors;

.country{
    font-weight: 700;
    margin:  20px 0 8px 0;
}

.form{
     min-width: 400px;
    min-height: 600px;
    background-color: colors.$background;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 12px;
    position: relative;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    padding: 40px 28px;
}

.decoration{
background-color: colors.$primary;
width: 54px;
height: 124px;
position: absolute;
right: 0;
top:0;
border-radius: 0px 10px 0px 10px;
}

.title_image_wrapper{
    display: flex;
    flex-direction: row;
    column-gap: 16px;
    align-items: center;
}