@use "@colors" as colors;
@use "@fonts" as fonts;
@use "@breakpoints" as breakpoints;

.overtitle{
  text-transform: uppercase;
}

 .title {
  font-size: 52px;
   margin-top: 20px;
   font-weight: 700;
   @include breakpoints.tablet{
    font-size: 42px;
  }
  @include breakpoints.mobile{
    font-size: 28px;
  }
 }


.description {
  margin-top: 20px;
}


.wrapper{ 
    min-width: 540px;
    margin: 176px 0;
    z-index: 1;
  }
  
  .button_wrapper{
    display: flex;
    flex-direction: row;
    column-gap: 40px;
    margin-top: 30px;
  }