.images {
  position: relative;
  width: 100%;
  max-width: 1200px;
  height: 100%;
  z-index: 1;
}

.mainBannerImage {
  width: clamp(600px, 65vw, 950px);
  aspect-ratio: 16 / 10;
}

.banner_image,
.image_1,
.image_2,
.image_3,
.image_4 {
  position: absolute;
  aspect-ratio: 3 / 4;
  border-radius: 10px;
  object-fit: cover;
  z-index: 2;
}

/* Используем clamp для адаптивной ширины */
.banner_image {
  width: clamp(300px, 20vw, 400px);
  top: 15%;
  left: 25%;
  align-items: center;
}

.image_1 {
  width: clamp(140px, 14vw, 200px);
  top: 18%;
  left: 9%;
}

.image_2 {
  width: clamp(120px, 12vw, 180px);
  top: 58%;
  left: 11%;
}

.image_3 {
  width: clamp(120px, 12vw, 180px);
  top: 20%;
  left: 60%;
}

.image_4 {
  width: clamp(130px, 13vw, 190px);
  top: 50%;
  left: 60%;
}