.images {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.mainBannerImage {
  width: clamp(700px, 65vw, 950px);
  aspect-ratio: 16 / 10;
  transform: translateY(50px);
  object-fit: fill;
}

.backgroundBannerImage{
  position: absolute;
  left: -38px;
  top: -68px;
  width: 100%;
  height: 100%;
  z-index: 0;
  object-fit: contain;
}