@use "@colors" as colors;
@use "@fonts" as fonts;


.description_wrapper{
    order: 2;
}

.overtitle {
  text-transform: uppercase;
  margin-bottom: 20px
}

.title {
    font-size: 42px;
    margin-bottom: 20px
  }
  
  .description {
    font-size: 21px;
  }

  .benefit_1 {
    color: colors.$text-primary; 
    font-size: 24px;
    font-weight: 600;
  }

  .benefit_2 {
    color: colors.$text-primary; 
    font-size: 24px;
    font-weight: 600;
  }

  .benefit_wrapper{
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 20px;
  }

  .button_wrapper{
    margin-top: 40px;
  }