.images{
    position: relative;
    display: flex; 
    align-self: flex-start;
    height: auto;
}
@media (max-width: 5000px) {
    .benefit_1{
    position: absolute;
    bottom: calc(100% - 345px);
    right: -110px;
    }
    .benefit_2{
    position: absolute;
    bottom: calc(100% - 406px);
    right: -110px;
    }
}
@media (max-width: 1152px) {
    .benefit_1 {
        bottom: 146px;
        right: -100px;
    }
    .benefit_2 {
        bottom: 86px;
        right: -100px;
    }
}

@media (max-width: 768px) {
    .benefit_1 {
        bottom: 100px;
        right: -50px;
    }
    .benefit_2 {
        bottom: 70px;
        right: -50px;
    }
}