@use "@colors" as colors;
@use "@fonts" as fonts;

@use "@breakpoints" as breakpoints;

.card{
    display: flex;
   position: relative;
   min-height: 240px;
   align-items: flex-end;
  }
  
.image  {
    border-radius: 10px;
    object-fit: fill;
&__wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    
&::before {
    border-radius: 10px;
   z-index: 1;
   content: " ";
   position: absolute;
   width: 100%;
   height: 100%;
   pointer-events: none; 
   background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.7) 100%);
 }
}
}

.layout{
    z-index: 2;
    margin: 0 0 40px 40px;
    display: flex;
    flex-direction: column;
   align-items: flex-start;
   row-gap: 10px;
}

.countryWrapper{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    justify-content: flex-start;
  align-items: center;
}



    

.city{
    
    font-size: 32px;
    @include breakpoints.laptop{
      font-size: 30px;
    }
    @include breakpoints.tablet{
      font-size: 20px;
    }
    @include breakpoints.mobile{
      font-size: 18px;
    }
}


.priceCountWrapper{
     display: flex;
    flex-direction: row;
    column-gap: 20px;
    justify-content: flex-start;
    align-items: center;
}
