@use "@colors" as colors;
@use "@fonts" as fonts;
@use "@mixins/typography" as typography;

.card{
    display: flex;
   position: relative;
   min-height: 268px;
   align-items: flex-end;
  }
  
.image  {
    border-radius: 10px;
&__wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    
&::before {
    border-radius: 10px;
   z-index: 1;
   content: " ";
   position: absolute;
   width: 100%;
   height: 100%;
   pointer-events: none; 
   background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.7) 100%);
 }
}
}

.layout{
    z-index: 2;
    margin: 0 0 40px 40px;
    display: flex;
    flex-direction: column;
   align-items: flex-start;
   row-gap: 10px;
}

.countryWrapper{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    justify-content: flex-start;
  align-items: center;
}


.country{
    color: colors.$background;
}

.city{
    color: colors.$background;
    font-size: 32px;
    @include typography.laptop{
      font-size: 30px;
    }
    @include typography.tablet{
      font-size: 20px;
    }
    @include typography.mobile{
      font-size: 18px;
    }
}


.priceFrom{
    color: colors.$background;
}

.personCount{
    color: colors.$background;
}

.priceCountWrapper{
     display: flex;
    flex-direction: row;
    column-gap: 20px;
    justify-content: flex-start;
    align-items: center;
}
