@use "@colors" as colors;

.popper_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.counter_wrapper{
    display: flex;
    flex-direction: row;
    column-gap: 2px;
    
}
