@use "@colors" as colors;
@use "@fonts" as fonts;
@use "@mixins/typography" as typography;

.card{

}

.image {
     border-radius: 10px;
     
&__wrapper {
    position: relative;
    width: 100%;
    min-height: 280px;
&::before {
    z-index: 1;
    content: "''";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.7) 100%);
    pointer-events: none; /* Чтобы градиент не мешал кликам по изображению */
    border-radius: 10px
  }
}
}