@use "@colors" as colors;
@use "@fonts" as fonts;
@use "@breakpoints" as breakpoints;

.card{
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: 10px;
}

.image {
     border-radius: 10px;
     object-fit: cover;
&__wrapper {
    position: relative;
    width: 100%;
    min-height: 240px;
&::before {
    z-index: 1;
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-radius: 10px;
  }
}
}

.geolocation{
  margin-top: 15px;
}

.stars{
  color: #FFB904;
  font-size: 24px;
}

.date, .personCount, .hotelName{
  margin-top: 10px;
}
.priceFrom{
  margin-top: 15px;
  margin-bottom: 20px;
}

.line_division{
   border: 0.5px solid colors.$search-form;
  margin-top: 10px;
  width: 80%;
  
}

.priceValue{
  font-weight: 600;
}
