@use "@colors" as colors;
@use "@fonts" as fonts;
@use "@mixins/typography" as typography;

.card{
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1); /* Тень */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.image {
     border-radius: 10px;
     
&__wrapper {
    position: relative;
    width: 100%;
    min-height: 280px;
&::before {
    z-index: 1;
    content: "''";
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Чтобы градиент не мешал кликам по изображению */
    border-radius: 10px;
  }
}
}

.geolocation{
  font-size: 20px;
  color: colors.$text-secondary;
  margin-top: 15px;
  
}

.hotelName{
    color: colors.$text-primary;
    font-size: 27px;
    margin-top: 10px;
}
.stars{
  color: #FFB904;
  font-size: 27px;
}

.date, .personCount{
  font-size: 20px;
  color: colors.$text-primary;
  margin-top: 10px;
}
.priceFrom{
  font-size: 20px;
  color: colors.$text-primary;
  margin-top: 15px;
  margin-bottom: 20px;
}

.line_division{
  border: 1px solid colors.$text-secondary;
  margin-top: 10px;
  width: 80%;
  
}

.priceValue{
  font-weight: 600;
}
