.cards_wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 32px;
    align-items: stretch;
    justify-content: flex-start;
    margin: 40px;
    position: relative;
}