@use "@breakpoints" as breakpoints;

@mixin container {
    max-width: 1312px;
    margin: 0 auto;
    padding-left: 12px;
    padding-right: 12px;
    
    
    @include breakpoints.laptop {
    max-width: 1280px;
    
    padding-left: 12px;
    padding-right: 12px;
  }

  @include breakpoints.tablet {
    max-width: 720px;
    padding: 0 10px;
  }

  @include breakpoints.mobile {
    max-width: 100%;
   padding: 0 8px;
  }
}