@use "@colors" as colors;
@use "@fonts" as fonts;
@use "@breakpoints" as breakpoints;

.main_wrapper{
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1); 
    max-height: 380px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    
}
.card_information{
    max-height: 380px;
    padding: 28px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: center;
  align-items: flex-start;
   overflow: hidden;
}

.image {
     border-radius: 10px;
     object-fit: cover;
&__wrapper {
    position: relative;
    min-width: 418px;
    min-height: 380px;
&::before {
    z-index: 1;
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-radius: 10px;
  }
}
}

.icon_and_text_wrapper{
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
  justify-content: center;
}

.line_division{
  border: 0.5px solid colors.$search-form;
  width: 100%;
}

.priceValue{
  font-weight: 600;
}
